@{
  Layout = "_Layout";
}

@using Inventory.Models;
@model List<Inventory.Models.Collectible>;

<h1>Collectables</h1>

<ul>
  @foreach(Collectible collectible in Model)
  {
      <li>@Html.ActionLink($"{collectible.Name}", "Details", new { id = collectible.CollectibleId })</li>
  }
</ul>

<p>@Html.ActionLink("Add new collectible", "Create")</p>