@{
  Layout = "_Layout";
}

@using Inventory.Models;

<h1>Collectables</h1>

@if (@Model.Count == 0)
{
  <h3>No collectables have been added yet!</h3>
} 

@foreach (Collectible collectible in Model)
{
  <li>@collectible.Name</li>
}